<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  
	<Bundle Name="Alika Point-Of-Sale Bundle" AboutUrl="http://www.alika.ch" Version="1.0.0.1" Manufacturer="Alika Analytics" UpgradeCode="078243ae-9f65-42f6-a2ab-581bb2c6ece8">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <!-- Logo should be 64x64 -->
      <bal:WixStandardBootstrapperApplication LicenseFile="License.rtf" LogoFile="LogoWithText64x64.png" />
    </BootstrapperApplicationRef>
    
      <util:RegistrySearch Id="RegSearch" Root="HKLM" Key="System\CurrentControlSet\services\3MUSBSerial64" Variable="INSTALLED_3M_DRIVER" Result="exists"/>
    <!-- 
    <bal:Condition Message="Debug: 3M Driver Key found [INSTALLED_3M_DRIVER]">
      1 = 2
    </bal:Condition>
    -->

    <Chain>
      <ExePackage
          DisplayName="3M Device Drivers"
          SourceFile="..\3M_SDK\1.2.1.2\Drivers\3MSwipeReaderDriversSetup.EXE"
          InstallCommand="/S"
          RepairCommand="/S"
          UninstallCommand="/Z" 
          InstallCondition="(NOT INSTALLED_3M_DRIVER = 1)"/>
      <RollbackBoundary />
      
      <MsiPackage Id="AlikaPosService" SourceFile="$(var.pos_service_wixsetup.TargetPath)" />
      
		</Chain>
	</Bundle>

  <Fragment>
    
  </Fragment>
</Wix>
