.panel-url-encoder {
    width: 500px;
}

.panel-url-encoder #submit-button {
    margin: 10px 0px 0px 0px;
    float: right;
}

.mrz-card {
    width: 500px;
    font-size: 12pt;
}
.mrz-card h1 {
    margin: 0px;
    padding: 0px;
}
.mrz-card p {
    padding: 0;
    margin: 0;
}
.mrz-card * {
    text-align: center;
}

.mrz-card .box {
    border: 4px solid;
    padding: 2px;
    margin: 2em auto 2em auto;
    width: 80%;
}
.mrz-label p {
    padding: 0px;
    margin: 0px;
}
.mrz {
    font-family: OcrB Regular, monospace;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0;
}