// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: rgba(45,92,136,1);
$header-bg-color-secondary: rgba(255,255,255,.2);

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;