html {
  font-size: 10px;
}
body {
  font-size: 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
.navbar {
  margin-bottom: 20px;
}
.page-header {
  text-align: center;
  padding: 1rem 0rem 2rem 0rem;
  margin:  0rem 0rem 2rem 0rem;
}
.main-content {
  font-size: 1rem;
  margin: 0rem 2rem 0rem 2rem;
}
p {
  font-size: 1.4rem;
}
li {
  font-size: 1.4rem;
}